# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store
Debug/
Release/
x64/
.git/
.vs/
.vscode/
backup/
lib/
*.cso
*.mbo
*.inc
*.ilk
*.lib
*.iobj
*.ipdb
*.pdb
*.exp
*.lastcodeanalysissucceeded
!dxtex.exe
*.exe
vsxmake2022/

